.orderPage{
  &-list{
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
  }

  &-list .discardAllBtn{
    align-self: flex-end;
    margin-bottom: 12px;
  }
  &-table{
    border: 1px solid $black;
    width: 100%;
    @include desktop(){
      width: 1100px;
    }
  }
  
  &-table th, &-table td{
    padding: 10px;
    text-align: left;
    border: 1px solid $black;
  }
  &-tbody{
    background-color: $white;
    tr:hover{
      background-color:$bright-gray;
    }
  }
  &-title{
    background:$gray;
  }
}

.delSingleOrder-Btn {
  display: block;
  background-color:$dark;
  color: $white;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
  &:hover{
    background-color:$danger;
  }
}

.orderTableWrap {
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.orderNum{
  font-size:0.85em ;
}
