body{
  font-family: 'Noto Sans TC',-apple-system,BlinkMacSystemFont,"Segoe UI","Microsoft JhengHei",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.font-en{
  font-family: 'Nunito';
  font-weight: 600;
}

.font-en-light{
  font-family: 'Nunito';
  font-weight: 300;
}



.app{
  background-color: $dark;
}