

.topBar{
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9;

  & .wrap{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  }

  & .admin>a{
    color: #aaa;
  }

  & a{
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 1.25rem;

    &:hover{
      color: $primary;
      transform: scale(1.05);
    }
  }

  & .logo>a{
    font-size: 1.5rem;
    @include pad(){
      padding-left: 24px;
    }
  }

  &-menu{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;

    @include pad(){
      position: absolute;
      top: 61px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 10;
      background-color: $dark;
      max-height: 0;
      overflow: hidden;
      transition: all .2s;
    }
  }
  &-menu.openMenu{
    max-height: 300px;
  }

  &-menu a{
    margin: 0 auto;
    padding: 18px 25px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(0,-50%);
      color: $primary;
      transition: all .5s;
    }
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0,-50%);
      color: $primary;
      transition: all .5s;
    }
    @include pad(){
      text-align: center;
      padding: 15px;
      font-size: 1rem;
      color: #fff;
    }

    &:hover{
      transform: scale(1.05);
      &::after{
        content: ']';
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translate(0,-50%);
        color: $primary;
      }
      &::before{
        content: '[';
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0,-50%);
        color: $primary;
      }
      @include pad(){
        background-color: $primary;
        color: #fff;
      }
    }
  }

  &-menu li{
    @include pad(){
      width: 100%;
    }
  }
  
}

.menuToggle {
  display: none;
  cursor: pointer;
  &:hover{
    color: $primary;
  }

  @include pad(){
    display: block;
    font-size: 2rem;
    padding: 15px;
  }
}

.banner {
  height: 100vh;
  max-width: 100vw;
  position: relative;
  background-image: url("../asset/banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  
  
  &-decoBox{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
  }
  &-deco{
    height: 2000px;
    width: 1500px;
    background-color:$dark;
    opacity: .7;
    transform: rotate(30deg);
    transform-origin: center center;
  }
  &-text{
    position: absolute;
    color: #fff;
    font-size: 5rem;
    letter-spacing: .5rem;
    left: 15%;
    top: 30%;
    font-weight: 600;
  }
  &-textAfter{
    font-weight: 300;
    margin-left: 5rem;
  }
  &-circular{
    position: absolute;
    top:65%;
    left: 20%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:$primary;
  }
  &-describe{
    position: absolute;
    width: 200%;
    letter-spacing: .5rem;
    color: #fff;
    top: 50%;
    left: 50%;
  }
  &-arrow{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: $primary;
    font-size: 100px;
  }
}

.bedAdvantage {
  display: flex;
  justify-content: space-between;
  padding: 1rem .5rem;
  @include pad(){
    display: block;
    margin: 0 10px;
  }
  &-box{
    position: relative;
    max-width: 33%;
    min-height: 200px;
    background-color: $dark;
    padding: .5rem;
    margin: 0 .2rem;

    @include pad(){
      max-width: 100%;
      margin: .5rem 0;
    }
  }

  &-img{
    width: 100%;
    max-height: 140px;
    object-fit: cover;
  }
  &-text{
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    padding-top:1rem;
  }
}

.feature{
  &-container{
    overflow: hidden;
  }
  &-left{
    width: 50%;
    overflow: hidden;
    float: left;
    @include pad(){
      width: 100%;
    }
  }
  &-right{
    width: 50%;
    height: 50vw;
    float: left;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    @include pad(){
      width: 100%;
      height: 100vw;
    }

    &-content{
      max-width: 50%;
      max-height: 50%;
      background-color: #fff;
      padding: 50px;
      text-align: center;
    }
    &-title{
      text-align: center;
      font-size: 2rem;
      padding: .5rem 2rem;
      border-bottom: $dark solid 1px;
      margin-bottom: .5rem;
    }
    &-list{
      max-width: 50%;
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-left: 1px solid $dark;
    }
    &-list li{
      text-align: left;
      font-size: 1.5rem;
      margin-top: .5rem;
    }
  }
  &-items{
    position: relative;
    width: 50%;
    height: 25vw;
    text-align: center;
    float: left;
    @include pad(){
      height: 50vw;
    }

    .items-txt{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      letter-spacing: .5rem;
    }
    .item-number{
      font-size: 9rem;
      line-height: 7rem;
    }
  }
  &-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

}

.recommendation {
  background-color: $dark;
  padding: 60px 0;

  & h3{
    color: #fff;
  }

  @include pad(){
    padding: 60px 15px;
  }
  &-card{
    max-height: 33.33333%;
    padding: 5px 50px;
    display: flex;
    @include pad(){
      padding: 5px 0;
    }
  }
  &-card-end{
    max-height: 33.33333%;
    padding: 5px 50px;
    display: flex;
    flex-direction:row-reverse
  }

  &-avatar{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>p{
      color: #fff;
      white-space: nowrap;
    }
  }
  &-content{
    position: relative;
    padding: 5px;
    margin:0 30px;
    min-width: 20%;
    background-color:#fff;
    border-radius: 8px;
    display: flex;
    @include pad(){
      flex-direction: column;
      padding: 5px 10px;
    }
    &::after{
      content: '';
      position: absolute;
      top: 40%;
      left: -12px;
      height: 0;
      width: 0;
      border-color: #fff #fff  transparent transparent;
      border-style: solid solid solid solid;
      border-width: 5px 8px;
    }


    &-title{
      font-size: 0.875rem;
      color: $secondary;
      @include pad(){
        padding: 0 10px;
        align-self: center;
      }
    }
    &-txt{
      align-self: center;
      padding: 0 5px;
      @include pad(){
        padding-top: 10px;
      }
    }
  }
  &-box{
    display: flex;
    flex-direction:column;
    @include pad(){
      flex-direction: row;
    }
    img{
      height: 100px;
      width: 100px;
      object-fit: cover;
      object-position: center;

      @include pad(){
        height: 60px;
        width: 60px;
      }
    }
  }

  &-content-end{
    position: relative;
    padding: 5px;
    margin:0 30px ;
    min-width: 20%;
    background-color:#fff;
    border-radius: 8px;
    display: flex;
    @include pad(){
      flex-direction: column;
      padding: 5px 10px;
    }
    &::after{
      content: '';
      position: absolute;
      top: 40%;
      right: -12px;
      height: 0;
      width: 0;
      border-color: #fff transparent transparent #fff;
      border-style: solid solid solid solid;
      border-width: 5px 8px;
    }
  }

}

.transport {
  padding: 30px 0;

  &-intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin: 40px auto;
  }

  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    &:nth-child(1)::after, &:nth-child(2)::after, &:nth-child(3)::after {
      content: "";
      position: absolute;
      top: 35%;
      right: 0;
      width: 69px;
      transform: translate(97%,-50%);
      border: 3px solid #000;
    }
  }

  &-card .cardImg{
    width: 115px;
    height: 115px;
    border: 4px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    @include pad(){
      width: 70px;
      height: 70px;
    }
  }

  &-card .material-icons {
    font-size: 50px;
  }

  &-card h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
.product{
  &-display{
    padding: 30px 15px;
  }
  &-select{
    border: 1px solid #B9B9B9;
    color: #797979;
    min-height: 38px;
    min-width: 255px;
    text-indent: 10px;
    margin-bottom: 30px;
  }
  &-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  &-card{
    position: relative;
    margin-right: 2%;
    width: 23%;
    margin-bottom: 30px;
    @include laptop(){
      width: 48%;
    }
    @include phone(){
      width: 100%;
    }
  }
  &-image{
    min-height: 300px;
    width: 100%;
    object-fit: cover;
  }
  &-btn{
    display: block;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
    font-size: 1.25rem;
    text-align: center;
    border: none;
    margin-bottom: 8px;
    text-decoration: none;
    &:hover{
      background-color:$primary;
    }
  }
  &-title{
    font-size: 1.25rem;
  }
  &-type{
    position: absolute;
    top: 13px;
    right: -5px;
    background-color: #000000;
    color: #ffffff;
    padding: 8px 24px;
  }
  &-placeHold{
    min-height: 350px;
    width: 100%;
  }
}

.originPrice {
  font-size: 1.25rem;
  color: #ccc;
}
.nowPrice {
  font-size: 1.75rem;
}

.shoppingCart {
  background-color: #F8F8F8;
  padding: 60px 0;
}

.shoppingCart-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.25rem;
  width: 850px;
}

.shoppingCart-table th, .shoppingCart-table td {
  padding: 15px;
  vertical-align: middle;
}

.shoppingCart-table th {
  text-align: left;
}

.shoppingCart-table tr {
  border-bottom: 1px solid #B9B9B9;
}

.shoppingCart-table tr:first-child, .shoppingCart-table tr:last-child {
  border-bottom: 0;
}

@media (max-width: 767px) {
  .shoppingCart-table {
      width: 700px;
  }
}

.cardItem-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cardItem-title img {
  margin-right: 15px;
  max-width: 80px;
}

.discardBtn {
  text-align: right;
}

.discardBtn a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 2rem;
  color: #000000;
}

.discardBtn a:hover {
  color: #6A33F8;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.discardAllBtn {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  color: #000000;
  border: 1.3px solid #000000;
  border-radius: 5px;
  font-size: 1.25rem;
}

.discardAllBtn:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.orderInfo {
  padding: 60px;
  @include pad(){
    padding: 10px;
  }
  &-form{
    margin: 0 auto;
    padding: 30px 15px;
    background-color:#ccc;

  }
  &-formGroup{
    max-width: 365px;
    margin: 0 auto 15px;
    @include pad(){
      max-width:100%;
    }
  }
  &-label{
    display: block;
    margin-bottom: 6px;
  }
  &-inputWrap{
    position: relative;
  }
  &-input{
    width: 100%;
    min-height: 38px;
    border: 1px solid #CED4DA;
    text-indent: 1rem;
    margin-right: 10px;
  }
  &-btn {
    display: block;
    min-width: 255px;
    min-height: 48px;
    background-color: #000000;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    font-size: 1.25rem;
    margin: 50px auto 0;
    border-radius: 5px;
    &:hover{
      background-color:$primary;
    }
  }
}

.orderInfo-message {
  position: absolute;
  white-space: nowrap;
  left: 103%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #9f4a4a;
}

@media (max-width: 767px) {
  .orderInfo-message {
      position: static;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}










.delSingleOrder-Btn {
  display: block;
  background-color: #C44021;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.delSingleOrder-Btn:hover {
  opacity: 0.8;
}

.orderStatus {
  position: relative;
}

.orderStatus a {
  position: absolute;
  padding: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.orderStatus-unDone {
  background-color: #747474;
}

.orderStatus-unDone:hover {
  background-color: #000000;
}

.orderStatus-done {
  background-color: #000000;
}

.orderStatus-done:hover {
  background-color: #747474;
}

.orderTableWrap {
  font-size: 4px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.orderTableWrap::-webkit-scrollbar {
  display: none;
}

.shoppingCart-tableList{
  text-align: center
}
.shoppingCart-table th{
  text-align: center
}
.messages {
  color: red;
  
}
@media(min-width: 768px){
  .messages {
      position: absolute;
      transform:translate(0,-100%);
      left: 102%;
      white-space: nowrap;
  }
}

.formWarning{
  border-color: red!important;
}