

.topBar{
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9;

  & .wrap{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  }

  & .admin>a{
    color: #aaa;
  }

  & a{
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 1.25rem;

    &:hover{
      color: $primary;
      transform: scale(1.05);
    }
  }

  & .logo>a{
    font-size: 1.5rem;
    @include pad(){
      padding-left: 24px;
    }
  }

  &-menu{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;

    @include pad(){
      position: absolute;
      top: 61px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 10;
      background-color: $dark;
      max-height: 0;
      overflow: hidden;
      transition: all .2s;
    }
  }
  &-menu.openMenu{
    max-height: 300px;
  }

  &-menu a{
    margin: 0 auto;
    padding: 18px 25px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(0,-50%);
      color: $primary;
      transition: all .5s;
    }
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0,-50%);
      color: $primary;
      transition: all .5s;
    }
    @include pad(){
      text-align: center;
      padding: 15px;
      font-size: 1rem;
      color: #fff;
    }

    &:hover{
      transform: scale(1.05);
      &::after{
        content: ']';
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translate(0,-50%);
        color: $primary;
      }
      &::before{
        content: '[';
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0,-50%);
        color: $primary;
      }
      @include pad(){
        background-color: $primary;
        color: #fff;
      }
    }
  }

  &-menu li{
    @include pad(){
      width: 100%;
    }
  }
  
}

.menuToggle {
  display: none;
  cursor: pointer;
  &:hover{
    color: $primary;
  }

  @include pad(){
    display: block;
    font-size: 2rem;
    padding: 15px;
  }
}



.banner {
  height: 100vh;
  max-width: 100vw;
  position: relative;
  background-image: url("../asset/banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  
  
  &-decoBox{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
  }
  &-deco{
    height: 2000px;
    width: 1500px;
    background-color:$dark;
    opacity: .7;
    transform: rotate(30deg);
    transform-origin: center center;
  }
  &-text{
    position: absolute;
    color: #fff;
    font-size: 5rem;
    letter-spacing: .5rem;
    left: 15%;
    top: 30%;
    font-weight: 600;
  }
  &-textAfter{
    font-weight: 300;
    margin-left: 5rem;
  }
  &-circular{
    position: absolute;
    top:65%;
    left: 20%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:$primary;
  }
  &-describe{
    position: absolute;
    width: 200%;
    letter-spacing: .5rem;
    color: #fff;
    top: 50%;
    left: 50%;
  }
  &-arrow{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: $primary;
    font-size: 100px;
  }
}

.bedAdvantage {
  display: flex;
  justify-content: space-between;
  padding: 1rem .5rem;
  @include pad(){
    display: block;
    margin: 0 10px;
  }
  &-box{
    position: relative;
    max-width: 33%;
    min-height: 200px;
    background-color: $dark;
    padding: 1%;

    @include pad(){
      max-width: 100%;
      margin: .5rem 0;
    }
  }

  &-img{
    width: 100%;
    max-height: 140px;
    object-fit: cover;
  }
  &-text{
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    padding-top:1rem;
  }
}

.feature{
  &-container{
    overflow: hidden;
  }
  &-left{
    width: 50%;
    overflow: hidden;
    float: left;
  }
  &-right{
    width: 50%;
    height: 50vw;
    float: left;
    position: relative;

    &-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
    }
    &-title{
      text-align: center;
      font-size: 2rem;
      padding: .5rem 5rem;
      white-space:nowrap;
      border-bottom: $dark solid 1px;
      margin-bottom: .5rem;
    }
  }
  &-items{
    position: relative;
    width: 50%;
    height: 25vw;

    text-align: center;
    float: left;
    .items-txt{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      letter-spacing: .5rem;
    }
    .item-number{
      font-size: 9rem;
      line-height: 7rem;
    }
  }
  &-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

}


.text-muted {
  color: #797979;
}

.recommendation {
  background-color: #301E5F;
  padding: 60px 0;
}

.recommendation h3 {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .recommendation {
      padding: 60px 15px;
  }
}

.recommendation-wall {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.recommendation-wall::-webkit-scrollbar {
  display: none;
}

.gallery-top, .gallery-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-top {
  margin-left: 95px;
  margin-bottom: 20px;
}

.recommendation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  min-width: 350px;
  background-color: #FFFFFF;
}

.recommendation-card img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.recommend-content {
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.recommend-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3px;
}

.recommend-img img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.recommend-text {
  font-size: 0.875rem;
  color: #6A33F8;
}

.transport {
  padding: 30px 0;
}

@media (max-width: 767px) {
  .transport li {
      width: 25%;
      margin-bottom: 20px;
      margin: 0 1%;
      align-self: flex-start
      
  }
}

.transport-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .transport-intro {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      /* -ms-flex-direction: column;
      flex-direction: column; */
  }
}

.transport-intro li:nth-child(1), .transport-intro li:nth-child(2), .transport-intro li:nth-child(3) {
  position: relative;
}

.transport-intro li:nth-child(1)::after, .transport-intro li:nth-child(2)::after, .transport-intro li:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 49px;
  right: -55px;
  border: 10px solid #000000;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
  .transport-intro li:nth-child(1)::after, .transport-intro li:nth-child(2)::after, .transport-intro li:nth-child(3)::after {
      display: none;
      position: static;
      margin-top: 25px;
      border: 10px solid #000000;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
  }
}

.transport-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.transport-card .cardImg {
  width: 115px;
  height: 115px;
  border: 3px solid #000000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}

.transport-card .material-icons {
  font-size: 50px;
}

.transport-card h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .transport-card .cardImg {
      width: 70px;
      height: 70px;
  }
}

.productDisplay {
  padding: 30px 15px;
}

.productSelect {
  border: 1px solid #B9B9B9;
  color: #797979;
  min-height: 38px;
  min-width: 255px;
  border-radius: 5px;
  text-indent: 10px;
  margin-bottom: 30px;
}

.productWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.productCard {
  position: relative;
  margin-right: 2%;
  width: 23%;
  margin-bottom: 30px;
}

.productCard img {
  min-height: 300px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.productCard a {
  display: block;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  border: none;
  margin-bottom: 8px;
  text-decoration: none;
}

.productCard a:hover {
  background-color: #301E5F;
}

.productCard a, .productCard h3 {
  font-size: 1.25rem;
}

@media (max-width: 900px) {
  .productCard {
      width: 48%;
  }
}

@media (max-width: 540px) {
  .productCard {
      width: 100%;
  }
}

.productType {
  position: absolute;
  top: 13px;
  right: -5px;
  background-color: #000000;
  color: #ffffff;
  padding: 8px 24px;
}

.originPrice {
  font-size: 1.25rem;
}

.nowPrice {
  font-size: 1.75rem;
}

.shoppingCart {
  background-color: #F8F8F8;
  padding: 60px 0;
}

.shoppingCart-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.25rem;
  width: 850px;
}

.shoppingCart-table th, .shoppingCart-table td {
  padding: 15px;
  vertical-align: middle;
}

.shoppingCart-table th {
  text-align: left;
}

.shoppingCart-table tr {
  border-bottom: 1px solid #B9B9B9;
}

.shoppingCart-table tr:first-child, .shoppingCart-table tr:last-child {
  border-bottom: 0;
}

@media (max-width: 767px) {
  .shoppingCart-table {
      width: 700px;
  }
}

.cardItem-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cardItem-title img {
  margin-right: 15px;
  max-width: 80px;
}

.discardBtn {
  text-align: right;
}

.discardBtn a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 2rem;
  color: #000000;
}

.discardBtn a:hover {
  color: #6A33F8;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.discardAllBtn {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  color: #000000;
  border: 1.3px solid #000000;
  border-radius: 5px;
  font-size: 1.25rem;
}

.discardAllBtn:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.orderInfo {
  padding: 60px 0;
}

.orderInfo-form {
  padding: 0 15px;
}

.orderInfo-formGroup {
  max-width: 365px;
  margin: 0 auto 15px;
}

.orderInfo-label {
  display: block;
  margin-bottom: 6px;
}

.orderInfo-input {
  width: 100%;
  min-height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  text-indent: 1rem;
  margin-right: 10px;
}

.orderInfo-inputWrap {
  position: relative;
}

.orderInfo-message {
  position: absolute;
  white-space: nowrap;
  left: 103%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #C72424;
}

@media (max-width: 767px) {
  .orderInfo-message {
      position: static;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}

.orderInfo-btn {
  display: block;
  min-width: 255px;
  min-height: 48px;
  background-color: #000000;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 50px auto 0;
  border-radius: 5px;
}

.orderInfo-btn:hover {
  background-color: #301E5F;
}

.orderPage-list {
  padding: 60px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.orderPage-list .discardAllBtn {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 12px;
}

.orderPage-table {
  border: 1px solid #000000;
  width: 100%;
}

.orderPage-table th, .orderPage-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000000;
}

@media (max-width: 1110px) {
  .orderPage-table {
      width: 1100px;
  }
}

.delSingleOrder-Btn {
  display: block;
  background-color: #C44021;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.delSingleOrder-Btn:hover {
  opacity: 0.8;
}

.orderStatus {
  position: relative;
}

.orderStatus a {
  position: absolute;
  padding: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.orderStatus-unDone {
  background-color: #747474;
}

.orderStatus-unDone:hover {
  background-color: #000000;
}

.orderStatus-done {
  background-color: #000000;
}

.orderStatus-done:hover {
  background-color: #747474;
}

.orderTableWrap {
  font-size: 4px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.orderTableWrap::-webkit-scrollbar {
  display: none;
}

.empty-icon{
  display:block;
  font-size: 80px;
  text-align: center;
  line-height: 1.5;
  
}
.shoppingCart-tableList{
  text-align: center
}
.shoppingCart-table th{
  text-align: center
}
.messages {
  color: red;
  
}
@media(min-width: 768px){
  .messages {
      position: absolute;
      transform:translate(0,-100%);
      left: 102%;
      white-space: nowrap;
  }
}

.formWarning{
  border-color: red!important;
}