.animated-bg{
  background-image:linear-gradient(to right,
  #e3e3e3 0%,
  #ededed 10%,
  #e3e3e3 20%,
  #e3e3e3 100%);
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text{
  border-radius:50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0%{
    background-position:50% 50%;
  }

  100%{
    background-position:-150% -150%;
  }
}