.swiper-button-next:after{
  color: $secondary;
  background-color: rgba(142, 142, 142, 0.5);
  border-radius: 10px 0  0 10px;
  padding: 10px;
}
.swiper-button-prev:after {
  color: $secondary;
  background-color: rgba(142, 142, 142, 0.5);
  border-radius: 0 10px 10px 0;
  padding: 10px;
}

.swiper-pagination-bullet-active{
  background-color: $secondary;
}
.swiper-pagination{
  @include pad(){
    display: none;
  }
}