/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC',-apple-system,BlinkMacSystemFont,"Segoe UI","Microsoft JhengHei",Roboto,"Helvetica Neue",Arial,sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #e0f1f1;
}

html::-webkit-scrollbar {
  background-color: #1d3342;
  overflow-y: auto;
  height: 10px;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #aed265;
  border-radius: 5px;
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-title {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 30px;
}

.font-en {
  font-family: 'Nunito';
  font-weight: 600;
}

.font-en-light {
  font-family: 'Nunito';
  font-weight: 300;
}

.m-b {
  margin-bottom: 3rem;
}

.m-b-s {
  margin-bottom: 1rem;
}

.txt-white {
  color: #e0f1f1;
}

.txt-dark {
  color: #1d3342;
}

.bg-dark {
  background-color: #1d3342;
}

.d-inline {
  display: inline !important;
}

.d-none {
  display: none !important;
}

.loading {
  display: inline;
  height: 20px;
  width: 20px;
  margin-right: 1rem;
}

#svgContainer {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.swiper-button-next:after {
  color: #aed265;
  background-color: rgba(142, 142, 142, 0.5);
  border-radius: 10px 0  0 10px;
  padding: 10px;
}

.swiper-button-prev:after {
  color: #aed265;
  background-color: rgba(142, 142, 142, 0.5);
  border-radius: 0 10px 10px 0;
  padding: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #aed265;
}

@media (max-width: 767px) {
  .swiper-pagination {
    display: none;
  }
}

.fadeAlertSet-title {
  font-size: 1.2rem !important;
  color: #5188b1 !important;
}

.fadeAlertSet-icon {
  font-size: .8rem !important;
}

.animated-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#e3e3e3), color-stop(10%, #ededed), color-stop(20%, #e3e3e3), to(#e3e3e3));
  background-image: linear-gradient(to right, #e3e3e3 0%, #ededed 10%, #e3e3e3 20%, #e3e3e3 100%);
  background-size: 200% 100%;
  -webkit-animation: bgPos 1s linear infinite;
          animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@-webkit-keyframes bgPos {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: -150% -150%;
  }
}

@keyframes bgPos {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: -150% -150%;
  }
}

.toggle-switch {
  margin-left: 1.5rem;
  display: inline-block;
  width: 85px;
  height: 34px;
  background-color: #ccc;
  border-radius: 17px;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.toggle-switch::after {
  content: '';
  display: inline-block;
  width: 29.75px;
  height: 29.75px;
  background-color: #fff;
  border-radius: 14.875px;
  position: absolute;
  top: 2.125px;
  -webkit-transform: translateX(2.125px);
          transform: translateX(2.125px);
  -webkit-box-shadow: 2.55px 0 2.55px rgba(0, 0, 0, 0.4);
          box-shadow: 2.55px 0 2.55px rgba(0, 0, 0, 0.4);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.orderPage-checkbox {
  display: none;
}

input[type='checkbox']:checked + .toggle-switch {
  background-color: #aed265;
}

input[type='checkbox']:checked + .toggle-switch::after {
  -webkit-transform: translateX(53.125px);
          transform: translateX(53.125px);
  -webkit-box-shadow: -2.55px 0 2.55px rgba(0, 0, 0, 0.4);
          box-shadow: -2.55px 0 2.55px rgba(0, 0, 0, 0.4);
  background-color: #ecf5db;
}

.undo {
  position: absolute;
  color: #fff;
  font-size: 1rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: .2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.done {
  display: none;
}

input[type='checkbox']:checked + .toggle-switch > .undo {
  display: none;
}

input[type='checkbox']:checked + .toggle-switch > .done {
  display: inline;
  position: absolute;
  color: #fff;
  font-size: 1rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: .2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.topBar {
  background-color: #1d3342;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9;
}

.topBar .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topBar .admin > a {
  color: #5188b1;
}

.topBar a {
  display: block;
  text-decoration: none;
  color: #e0f1f1;
  font-size: 1.25rem;
}

.topBar a:hover {
  color: #aed265;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.topBar .logo > a {
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

.topBar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #1d3342;
}

@media (max-width: 767px) {
  .topBar-menu {
    position: absolute;
    top: 61px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: #1d3342;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
}

.topBar-menu.openMenu {
  max-height: 300px;
}

.topBar-menu a {
  margin: 0 auto;
  padding: 18px 25px;
  position: relative;
}

.topBar-menu a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #5188b1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.topBar-menu a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #5188b1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 900px) {
  .topBar-menu a {
    padding: 18px 15px;
  }
}

@media (max-width: 767px) {
  .topBar-menu a {
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    color: #e0f1f1;
  }
}

.topBar-menu a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.topBar-menu a:hover::after {
  content: ']';
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #aed265;
}

.topBar-menu a:hover::before {
  content: '[';
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #aed265;
}

@media (max-width: 767px) {
  .topBar-menu a:hover {
    background-color: #5188b1;
    color: #e0f1f1;
  }
}

@media (max-width: 767px) {
  .topBar-menu li {
    width: 100%;
  }
}

.menuToggle {
  display: none;
  cursor: pointer;
}

.menuToggle:hover {
  color: #5188b1;
}

@media (max-width: 767px) {
  .menuToggle {
    display: block;
    font-size: 2rem;
    padding: 15px;
  }
}

.banner {
  height: 100vh;
  max-width: 100vw;
  position: relative;
  background-image: url("../asset/banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.banner-decoBox {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 900px) {
  .banner-decoBox {
    display: none;
  }
}

.banner-deco {
  height: 250vh;
  width: 100vw;
  background-color: #aed265;
  opacity: .7;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.banner-text {
  position: absolute;
  color: #5188b1;
  font-size: 5rem;
  letter-spacing: .5rem;
  left: 30%;
  top: 30%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-weight: 600;
}

@media (max-width: 900px) {
  .banner-text {
    left: 50%;
    font-size: 6.5rem;
  }
}

@media (max-width: 500px) {
  .banner-text {
    left: 50%;
    font-size: 4.5rem;
  }
}

.banner-textAfter {
  font-weight: 300;
  margin-left: 5rem;
}

@media (max-width: 500px) {
  .banner-textAfter {
    margin-left: 0;
  }
}

.banner-circular {
  position: absolute;
  top: 65%;
  left: 20%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #5188b1;
}

.banner-describe {
  position: absolute;
  width: 200%;
  letter-spacing: .5rem;
  color: #e0f1f1;
  top: 50%;
  left: 50%;
}

.banner-arrow .material-icons {
  position: absolute;
  left: 50%;
  top: 97%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #5188b1;
  font-size: 5rem;
  cursor: pointer;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.banner-arrow .material-icons:hover {
  color: #aed265;
}

.bedAdvantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 .5rem;
}

@media (max-width: 767px) {
  .bedAdvantage {
    display: block;
    margin: 0 10px;
  }
}

.bedAdvantage-box {
  position: relative;
  max-width: 33.33333%;
  min-height: 200px;
  background-color: #1d3342;
  padding: .5rem;
  margin: 0.5%;
}

@media (max-width: 767px) {
  .bedAdvantage-box {
    max-width: 100%;
    margin: .5rem 0;
  }
}

.bedAdvantage-img {
  width: 100%;
  max-height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bedAdvantage-text {
  color: #e0f1f1;
  text-align: center;
  font-size: 1.25rem;
  padding-top: 1rem;
}

.feature-container {
  overflow: hidden;
}

.feature-left {
  width: 50%;
  overflow: hidden;
  float: left;
}

@media (max-width: 900px) {
  .feature-left {
    width: 100%;
  }
}

.feature-right {
  width: 50%;
  height: 50vw;
  float: left;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

@media (max-width: 900px) {
  .feature-right {
    width: 100%;
    height: 100vw;
  }
}

.feature-right-content {
  max-width: 100%;
  background-color: #e0f1f1;
  padding: 10%;
  text-align: center;
}

.feature-right-title {
  text-align: center;
  font-size: 2rem;
  padding: .5rem 2rem;
  border-bottom: #1d3342 solid 1px;
  margin-bottom: .5rem;
}

.feature-right-title h3 {
  color: #1d3342;
  display: inline;
  margin-left: .5rem;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .feature-right-title {
    font-size: 1.2rem;
  }
}

.feature-right-logo {
  display: inline;
  white-space: nowrap;
}

.feature-right-list {
  display: inline-block;
  padding: .5rem 1rem;
  border-left: 1px solid #1d3342;
}

.feature-right-list > li {
  white-space: nowrap;
  color: #1d3342;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

@media (max-width: 500px) {
  .feature-right-list > li {
    font-size: 1rem;
  }
}

.feature-items {
  position: relative;
  width: 50%;
  height: 25vw;
  text-align: center;
  float: left;
}

@media (max-width: 900px) {
  .feature-items {
    height: 50vw;
  }
}

.feature-items .items-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: .5rem;
}

.feature-items .item-number {
  font-size: 9rem;
  line-height: 7rem;
}

.feature-items img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.recommendation {
  background-color: #1d3342;
  padding: 60px 0;
}

.recommendation h3 {
  color: #e0f1f1;
}

@media (max-width: 767px) {
  .recommendation {
    padding: 60px 15px;
  }
}

.recommendation-card {
  max-height: 33.33333%;
  padding: 5px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .recommendation-card {
    padding: 5px 0;
  }
}

.recommendation-card-end {
  max-height: 33.33333%;
  padding: 5px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.recommendation-avatar {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommendation-avatar > p {
  color: #e0f1f1;
  white-space: nowrap;
}

.recommendation-content {
  position: relative;
  padding: 5px;
  margin: 0 30px;
  min-width: 20%;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .recommendation-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 10px;
  }
}

.recommendation-content::after {
  content: '';
  position: absolute;
  top: 40%;
  left: -12px;
  height: 0;
  width: 0;
  border-color: #fff #fff transparent transparent;
  border-style: solid solid solid solid;
  border-width: 5px 8px;
}

.recommendation-content-title {
  font-size: 0.875rem;
  color: #1d3342;
}

@media (max-width: 767px) {
  .recommendation-content-title {
    padding: 0 10px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: none;
  }
}

.recommendation-content-txt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 5px;
}

@media (max-width: 767px) {
  .recommendation-content-txt {
    padding-top: 10px;
  }
}

.recommendation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .recommendation-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.recommendation-box img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 767px) {
  .recommendation-box img {
    height: 60px;
    width: 60px;
  }
}

.recommendation-content-end {
  position: relative;
  padding: 5px;
  margin: 0 30px;
  min-width: 20%;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .recommendation-content-end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 10px;
  }
}

.recommendation-content-end::after {
  content: '';
  position: absolute;
  top: 40%;
  right: -12px;
  height: 0;
  width: 0;
  border-color: #fff transparent transparent #fff;
  border-style: solid solid solid solid;
  border-width: 5px 8px;
}

.transport {
  padding: 30px 0;
}

.transport-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
  padding: 0 30px;
  margin: 40px auto;
}

.transport-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.transport-card:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 58px;
  right: 0;
  width: 60px;
  height: 5px;
  background-color: #1d3342;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

@media (max-width: 767px) {
  .transport-card:not(:last-child)::after {
    display: none;
  }
}

.transport-card .cardImg {
  color: #1d3342;
  width: 116px;
  height: 116px;
  border: 4px solid #1d3342;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

@media (max-width: 500px) {
  .transport-card .cardImg {
    width: 60px;
    height: 60px;
  }
}

.transport-card .material-icons {
  font-size: 50px;
}

.transport-card > h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

@media (max-width: 500px) {
  .transport-card > h4 {
    font-size: 1rem;
  }
}

.transport-card > p {
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .transport-card > p {
    font-size: .8rem;
  }
}

@media (max-width: 500px) {
  .transport-card > p > span {
    display: none;
  }
}

.product-display {
  padding: 30px 15px;
}

.product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-card {
  position: relative;
  margin: 1%;
  width: 23%;
}

@media (max-width: 900px) {
  .product-card {
    width: 48%;
  }
}

@media (max-width: 500px) {
  .product-card {
    width: 100%;
  }
}

.product-image {
  min-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-btn {
  position: relative;
  display: block;
  background-color: #1d3342;
  color: #e0f1f1;
  padding: 10px 0;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  margin-bottom: 8px;
  text-decoration: none;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

.product-btn:hover {
  background-color: #aed265;
}

.product-btn > .loading {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-title {
  font-size: 1.25rem;
}

.product-type {
  position: absolute;
  top: 13px;
  right: -5px;
  background-color: #5188b1;
  color: #e0f1f1;
  padding: 8px 24px;
}

.product-placeHold {
  min-height: 350px;
  width: 100%;
}

.product-quantity {
  height: 2rem;
  width: 3rem;
  text-indent: 10px;
}

.product-quantity ~ span {
  margin-left: .5rem;
}

.product-box {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1% 0.5%;
}

.product-select {
  min-height: 38px;
  min-width: 255px;
  text-indent: 10px;
}

.product-sort {
  margin: 0 1%;
  text-decoration: none;
  color: #2c2c2c;
  background-color: #f8f8f8;
  padding: .5rem 1rem;
  border: 1px solid #2c2c2c;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.product-sort:hover {
  background-color: #5188b1;
  color: #fff;
  border: 1px solid #5188b1;
}

.originPrice {
  font-size: 1.25rem;
  color: #ccc;
}

.nowPrice {
  margin-left: .5;
  font-size: 1.5rem;
  display: inline;
}

.shopping-cart {
  background-color: #1d3342;
  padding: 60px 0;
}

.shopping-title {
  color: #e0f1f1;
}

.shopping-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.25rem;
  border: 1px solid #cfcfcf;
  width: 100%;
}

.shopping-tableList {
  background-color: #fff;
}

.shopping-tableList tr:hover {
  background-color: #f8f8f8;
}

.shopping-table th, .shopping-table td {
  padding: 15px;
  vertical-align: middle;
}

.shopping-table tr {
  border-bottom: 1px solid #ccc;
}

.shopping-thead {
  background-color: #ccc;
}

.shopping-tfoot {
  background-color: #fff;
}

.shopping-loading {
  padding: 40px 0;
}

.cardItem-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardItem-title img {
  margin-right: 15px;
  max-width: 80px;
}

.discardBtn {
  text-align: right;
}

.discardBtn a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 2rem;
  color: #1d3342;
}

.discardBtn a:hover {
  color: #e6484d;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.discardAllBtn {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  color: #1d3342;
  border: 1.3px solid #1d3342;
  border-radius: 5px;
  font-size: 1.25rem;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

.discardAllBtn:hover {
  background-color: #e6484d;
  border: 1.3px solid #e6484d;
  color: #fff;
}

.orderInfo {
  padding: 60px;
}

@media (max-width: 767px) {
  .orderInfo {
    padding: 10px;
  }
}

.orderInfo-form {
  margin: 0 auto;
  padding: 30px 15px;
  background-color: #ccc;
  text-align: center;
}

.orderInfo-formGroup {
  max-width: 365px;
  margin: 0 auto 1.5rem;
}

@media (max-width: 767px) {
  .orderInfo-formGroup {
    max-width: 100%;
  }
}

.orderInfo-label {
  display: block;
  margin-bottom: 3px;
  text-align: left;
}

.orderInfo-inputWrap {
  position: relative;
}

.orderInfo-input {
  width: 100%;
  min-height: 38px;
  border: 1px solid #f8f8f8;
  text-indent: 1rem;
  margin-right: 10px;
}

.orderInfo-btn {
  display: block;
  min-width: 255px;
  min-height: 48px;
  background-color: #1d3342;
  color: #e0f1f1;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 5px;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

.orderInfo-btn:hover {
  background-color: #aed265;
  color: #fff;
}

.orderInfo-btnGroup {
  display: inline-block;
  position: relative;
  margin: 50px auto 0;
  margin: 0 auto;
}

.orderInfo-loading {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shopping-tableList {
  text-align: center;
}

.errMessages {
  position: absolute;
  color: #e6484d;
}

@media (max-width: 767px) {
  .errMessages {
    white-space: nowrap;
  }
}

.formWarning {
  border-color: #e6484d;
}

.overflowWrap {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.overflowWrap::-webkit-scrollbar {
  background-color: #1d3342;
  height: 10px;
}

.overflowWrap::-webkit-scrollbar-thumb {
  background-color: #aed265;
  border-radius: 5px;
}

.chart-section {
  width: 100%;
  margin-top: 70px;
  padding: 1%;
}

.chart-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  width: 33.33333%;
  color: #2c2c2c;
  padding: 0.5%;
}

@media (max-width: 767px) {
  .chart-col {
    width: 100%;
    padding: 1%;
  }
}

.chart-num {
  font-size: 3rem;
}

.chart-txt {
  text-align: right;
  font-size: 1.5rem;
}

.chart-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 35%;
  padding: 0.5%;
}

@media (max-width: 767px) {
  .chart-left {
    width: 100%;
    padding: 1%;
  }
}

.chart-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 65%;
  padding: 0.5%;
}

@media (max-width: 767px) {
  .chart-right {
    width: 100%;
    padding: 1%;
  }
}

.chart-box {
  height: 100%;
  padding: 20px;
  background-color: #fff;
  outline: 1px solid #ccc;
  border-radius: 10px;
}

.earnChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.totalCounted {
  color: #5188b1;
}

.orderPage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1%;
}

.orderPage-list .discardAllBtn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1rem;
  margin-bottom: 12px;
}

.orderPage-tableWrap {
  width: 100%;
  overflow-x: auto;
}

.orderPage-tableWrap::-webkit-scrollbar {
  background-color: #e0f1f1;
  height: 10px;
}

.orderPage-tableWrap::-webkit-scrollbar-thumb {
  background-color: #5188b1;
  border-radius: 5px;
}

.orderPage-table {
  width: 100%;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.orderPage-table th, .orderPage-table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.orderPage-table td {
  border-top: 1px solid #ccc;
}

.orderPage-table td:not(:last-child) {
  border-right: 1px solid #ccc;
}

.orderPage-thead {
  background-color: #ccc;
}

.orderPage-thead th:first-child {
  border-radius: 10px 0 0 0;
}

.orderPage-thead th:last-child {
  border-radius: 0 10px 0 0;
}

.orderPage-tbody {
  background-color: #fff;
}

.orderPage-tbody tr:hover {
  background-color: #f8f8f8;
}

.orderPage-tbody tr:last-child td:first-child {
  border-radius: 0  0 0 10px;
}

.orderPage-tbody tr:last-child td:last-child {
  border-radius: 0  0 10px 0;
}

.orderPage-title {
  background: #ccc;
}

.orderPage-toggleBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.orderPage-toggleBtn > .loading {
  position: absolute;
}

.orderPage-deleteBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.orderPage-deleteBtn > .loading {
  position: absolute;
}

.delSingleOrder-Btn {
  display: block;
  background-color: #1d3342;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  margin-left: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.delSingleOrder-Btn:hover {
  background-color: #e6484d;
}

.orderNum {
  font-size: 0.85em;
}

.emptyOrder td {
  text-align: center;
  padding: 2rem 0;
}

.emptyOrder td:first-child, .emptyOrder td:nth-child(2) {
  border-right: 1px solid #fff;
}
/*# sourceMappingURL=all.css.map */